<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>b0_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{626,138},{13,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{13,50}}</string>
                <key>sourceSize</key>
                <string>{13,50}</string>
            </dict>
            <key>b0_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{626,86},{13,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{13,50}}</string>
                <key>sourceSize</key>
                <string>{13,50}</string>
            </dict>
            <key>b1.png</key>
            <dict>
                <key>frame</key>
                <string>{{973,856},{20,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{20,20}}</string>
                <key>sourceSize</key>
                <string>{20,20}</string>
            </dict>
            <key>b2.png</key>
            <dict>
                <key>frame</key>
                <string>{{928,834},{43,61}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{43,61}}</string>
                <key>sourceSize</key>
                <string>{43,61}</string>
            </dict>
            <key>b3_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{448,384},{30,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{30,22}}</string>
                <key>sourceSize</key>
                <string>{30,22}</string>
            </dict>
            <key>b3_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{966,1055},{30,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{30,22}}</string>
                <key>sourceSize</key>
                <string>{30,22}</string>
            </dict>
            <key>b_bottom0.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1107},{119,114}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{119,114}}</string>
                <key>sourceSize</key>
                <string>{119,114}</string>
            </dict>
            <key>b_bottom1.png</key>
            <dict>
                <key>frame</key>
                <string>{{123,1110},{119,108}}</string>
                <key>offset</key>
                <string>{0,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{119,108}}</string>
                <key>sourceSize</key>
                <string>{119,114}</string>
            </dict>
            <key>b_bottom2.png</key>
            <dict>
                <key>frame</key>
                <string>{{124,994},{119,114}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{119,114}}</string>
                <key>sourceSize</key>
                <string>{119,114}</string>
            </dict>
            <key>b_top0.png</key>
            <dict>
                <key>frame</key>
                <string>{{131,908},{127,84}}</string>
                <key>offset</key>
                <string>{0,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{127,84}}</string>
                <key>sourceSize</key>
                <string>{127,90}</string>
            </dict>
            <key>b_top1.png</key>
            <dict>
                <key>frame</key>
                <string>{{260,908},{127,82}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,6},{127,82}}</string>
                <key>sourceSize</key>
                <string>{127,90}</string>
            </dict>
            <key>b_top2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,908},{127,84}}</string>
                <key>offset</key>
                <string>{0,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{127,84}}</string>
                <key>sourceSize</key>
                <string>{127,90}</string>
            </dict>
            <key>dialog_bg0.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,497},{444,409}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{444,409}}</string>
                <key>sourceSize</key>
                <string>{444,409}</string>
            </dict>
            <key>dialog_bg1.png</key>
            <dict>
                <key>frame</key>
                <string>{{448,416},{444,409}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{444,409}}</string>
                <key>sourceSize</key>
                <string>{444,409}</string>
            </dict>
            <key>dialog_button.png</key>
            <dict>
                <key>frame</key>
                <string>{{448,190},{176,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{176,50}}</string>
                <key>sourceSize</key>
                <string>{176,50}</string>
            </dict>
            <key>dialog_button_pressed.png</key>
            <dict>
                <key>frame</key>
                <string>{{448,138},{176,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{176,50}}</string>
                <key>sourceSize</key>
                <string>{176,50}</string>
            </dict>
            <key>dialog_button_unable.png</key>
            <dict>
                <key>frame</key>
                <string>{{448,86},{176,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{176,50}}</string>
                <key>sourceSize</key>
                <string>{176,50}</string>
            </dict>
            <key>e0.png</key>
            <dict>
                <key>frame</key>
                <string>{{928,752},{50,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{50,28}}</string>
                <key>sourceSize</key>
                <string>{50,28}</string>
            </dict>
            <key>e1.png</key>
            <dict>
                <key>frame</key>
                <string>{{928,620},{82,98}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{82,98}}</string>
                <key>sourceSize</key>
                <string>{82,98}</string>
            </dict>
            <key>e10.png</key>
            <dict>
                <key>frame</key>
                <string>{{626,228},{300,186}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{300,186}}</string>
                <key>sourceSize</key>
                <string>{300,186}</string>
            </dict>
            <key>e2.png</key>
            <dict>
                <key>frame</key>
                <string>{{448,242},{107,140}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{107,140}}</string>
                <key>sourceSize</key>
                <string>{107,140}</string>
            </dict>
            <key>e9.png</key>
            <dict>
                <key>frame</key>
                <string>{{448,827},{221,235}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{221,235}}</string>
                <key>sourceSize</key>
                <string>{221,235}</string>
            </dict>
            <key>eb0.png</key>
            <dict>
                <key>frame</key>
                <string>{{973,834},{20,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{20,20}}</string>
                <key>sourceSize</key>
                <string>{20,20}</string>
            </dict>
            <key>game_back.png</key>
            <dict>
                <key>frame</key>
                <string>{{928,472},{86,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{86,42}}</string>
                <key>sourceSize</key>
                <string>{86,42}</string>
            </dict>
            <key>game_back_pressed.png</key>
            <dict>
                <key>frame</key>
                <string>{{928,428},{86,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{86,42}}</string>
                <key>sourceSize</key>
                <string>{86,42}</string>
            </dict>
            <key>game_bomb.png</key>
            <dict>
                <key>frame</key>
                <string>{{806,1157},{133,115}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{133,115}}</string>
                <key>sourceSize</key>
                <string>{133,115}</string>
            </dict>
            <key>game_bomb_pressed.png</key>
            <dict>
                <key>frame</key>
                <string>{{671,1043},{133,115}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{133,115}}</string>
                <key>sourceSize</key>
                <string>{133,115}</string>
            </dict>
            <key>game_bomb_unable.png</key>
            <dict>
                <key>frame</key>
                <string>{{671,926},{133,115}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{133,115}}</string>
                <key>sourceSize</key>
                <string>{133,115}</string>
            </dict>
            <key>game_life.png</key>
            <dict>
                <key>frame</key>
                <string>{{557,242},{27,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{27,32}}</string>
                <key>sourceSize</key>
                <string>{27,32}</string>
            </dict>
            <key>game_setting.png</key>
            <dict>
                <key>frame</key>
                <string>{{928,384},{86,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{86,42}}</string>
                <key>sourceSize</key>
                <string>{86,42}</string>
            </dict>
            <key>game_setting_pressed.png</key>
            <dict>
                <key>frame</key>
                <string>{{928,340},{86,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{86,42}}</string>
                <key>sourceSize</key>
                <string>{86,42}</string>
            </dict>
            <key>game_thumb.png</key>
            <dict>
                <key>frame</key>
                <string>{{968,977},{25,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{25,30}}</string>
                <key>sourceSize</key>
                <string>{25,30}</string>
            </dict>
            <key>game_top.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{640,82}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{640,82}}</string>
                <key>sourceSize</key>
                <string>{640,82}</string>
            </dict>
            <key>gift0.png</key>
            <dict>
                <key>frame</key>
                <string>{{928,782},{46,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{46,50}}</string>
                <key>sourceSize</key>
                <string>{46,50}</string>
            </dict>
            <key>gift1.png</key>
            <dict>
                <key>frame</key>
                <string>{{928,720},{66,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{66,30}}</string>
                <key>sourceSize</key>
                <string>{66,30}</string>
            </dict>
            <key>left_progress.png</key>
            <dict>
                <key>frame</key>
                <string>{{894,416},{32,622}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,622}}</string>
                <key>sourceSize</key>
                <string>{32,622}</string>
            </dict>
            <key>music_close.png</key>
            <dict>
                <key>frame</key>
                <string>{{928,936},{41,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{41,39}}</string>
                <key>sourceSize</key>
                <string>{43,39}</string>
            </dict>
            <key>music_open.png</key>
            <dict>
                <key>frame</key>
                <string>{{928,897},{43,37}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{43,37}}</string>
                <key>sourceSize</key>
                <string>{43,39}</string>
            </dict>
            <key>player0.png</key>
            <dict>
                <key>frame</key>
                <string>{{928,516},{84,102}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{84,102}}</string>
                <key>sourceSize</key>
                <string>{84,102}</string>
            </dict>
            <key>player1.png</key>
            <dict>
                <key>frame</key>
                <string>{{244,1203},{107,65}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{107,65}}</string>
                <key>sourceSize</key>
                <string>{107,65}</string>
            </dict>
            <key>player2.png</key>
            <dict>
                <key>frame</key>
                <string>{{928,228},{92,110}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{92,110}}</string>
                <key>sourceSize</key>
                <string>{92,110}</string>
            </dict>
            <key>player3.png</key>
            <dict>
                <key>frame</key>
                <string>{{509,1064},{118,101}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{118,101}}</string>
                <key>sourceSize</key>
                <string>{118,101}</string>
            </dict>
            <key>player4.png</key>
            <dict>
                <key>frame</key>
                <string>{{365,1158},{114,123}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{114,123}}</string>
                <key>sourceSize</key>
                <string>{114,123}</string>
            </dict>
            <key>player5.png</key>
            <dict>
                <key>frame</key>
                <string>{{671,827},{136,97}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{136,97}}</string>
                <key>sourceSize</key>
                <string>{136,97}</string>
            </dict>
            <key>player_bottom0.png</key>
            <dict>
                <key>frame</key>
                <string>{{928,977},{38,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{38,46}}</string>
                <key>sourceSize</key>
                <string>{38,46}</string>
            </dict>
            <key>player_bottom1.png</key>
            <dict>
                <key>frame</key>
                <string>{{968,1009},{38,44}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{38,44}}</string>
                <key>sourceSize</key>
                <string>{38,46}</string>
            </dict>
            <key>player_bottom2.png</key>
            <dict>
                <key>frame</key>
                <string>{{928,1025},{36,40}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{36,40}}</string>
                <key>sourceSize</key>
                <string>{38,46}</string>
            </dict>
            <key>r_bottom0.png</key>
            <dict>
                <key>frame</key>
                <string>{{260,992},{126,117}}</string>
                <key>offset</key>
                <string>{6,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,9},{126,117}}</string>
                <key>sourceSize</key>
                <string>{138,127}</string>
            </dict>
            <key>r_bottom1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,994},{120,111}}</string>
                <key>offset</key>
                <string>{3,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,6},{120,111}}</string>
                <key>sourceSize</key>
                <string>{138,127}</string>
            </dict>
            <key>r_bottom2.png</key>
            <dict>
                <key>frame</key>
                <string>{{806,1040},{120,115}}</string>
                <key>offset</key>
                <string>{2,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,9},{120,115}}</string>
                <key>sourceSize</key>
                <string>{138,127}</string>
            </dict>
            <key>r_top0.png</key>
            <dict>
                <key>frame</key>
                <string>{{388,1064},{119,92}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{119,92}}</string>
                <key>sourceSize</key>
                <string>{119,94}</string>
            </dict>
            <key>r_top1.png</key>
            <dict>
                <key>frame</key>
                <string>{{244,1111},{119,90}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,4},{119,90}}</string>
                <key>sourceSize</key>
                <string>{119,94}</string>
            </dict>
            <key>r_top2.png</key>
            <dict>
                <key>frame</key>
                <string>{{123,1220},{105,88}}</string>
                <key>offset</key>
                <string>{-6,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{105,88}}</string>
                <key>sourceSize</key>
                <string>{119,94}</string>
            </dict>
            <key>right_progress.png</key>
            <dict>
                <key>frame</key>
                <string>{{996,720},{25,287}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{25,287}}</string>
                <key>sourceSize</key>
                <string>{25,287}</string>
            </dict>
            <key>setting_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,86},{444,409}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{444,409}}</string>
                <key>sourceSize</key>
                <string>{444,409}</string>
            </dict>
            <key>setting_button.png</key>
            <dict>
                <key>frame</key>
                <string>{{641,115},{372,111}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{372,111}}</string>
                <key>sourceSize</key>
                <string>{372,111}</string>
            </dict>
            <key>setting_button_pressed.png</key>
            <dict>
                <key>frame</key>
                <string>{{644,2},{372,111}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{372,111}}</string>
                <key>sourceSize</key>
                <string>{372,111}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>game_ui.pvr.ccz</string>
            <key>size</key>
            <string>{1024,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:5f979fae5710b36a346e428f996e4ea0$</string>
            <key>textureFileName</key>
            <string>game_ui.pvr.ccz</string>
        </dict>
    </dict>
</plist>
