<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>page0.png</key>
            <dict>
                <key>frame</key>
                <string>{{724,1909},{8,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,0},{8,26}}</string>
                <key>sourceSize</key>
                <string>{18,26}</string>
            </dict>
            <key>page1.png</key>
            <dict>
                <key>frame</key>
                <string>{{706,1881},{18,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{18,26}}</string>
                <key>sourceSize</key>
                <string>{18,26}</string>
            </dict>
            <key>page2.png</key>
            <dict>
                <key>frame</key>
                <string>{{704,1917},{18,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{18,26}}</string>
                <key>sourceSize</key>
                <string>{18,26}</string>
            </dict>
            <key>page3.png</key>
            <dict>
                <key>frame</key>
                <string>{{684,1917},{18,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{18,26}}</string>
                <key>sourceSize</key>
                <string>{18,26}</string>
            </dict>
            <key>page4.png</key>
            <dict>
                <key>frame</key>
                <string>{{664,1917},{18,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{18,26}}</string>
                <key>sourceSize</key>
                <string>{18,26}</string>
            </dict>
            <key>page5.png</key>
            <dict>
                <key>frame</key>
                <string>{{644,1917},{18,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{18,26}}</string>
                <key>sourceSize</key>
                <string>{18,26}</string>
            </dict>
            <key>plane_img0.png</key>
            <dict>
                <key>frame</key>
                <string>{{1522,782},{521,388}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{521,388}}</string>
                <key>sourceSize</key>
                <string>{521,388}</string>
            </dict>
            <key>plane_img1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1522,392},{521,388}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{521,388}}</string>
                <key>sourceSize</key>
                <string>{521,388}</string>
            </dict>
            <key>plane_img2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1522,2},{521,388}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{521,388}}</string>
                <key>sourceSize</key>
                <string>{521,388}</string>
            </dict>
            <key>plane_img3.png</key>
            <dict>
                <key>frame</key>
                <string>{{525,1354},{521,388}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{521,388}}</string>
                <key>sourceSize</key>
                <string>{521,388}</string>
            </dict>
            <key>plane_img4.png</key>
            <dict>
                <key>frame</key>
                <string>{{525,964},{521,388}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{521,388}}</string>
                <key>sourceSize</key>
                <string>{521,388}</string>
            </dict>
            <key>plane_img5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1354},{521,388}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{521,388}}</string>
                <key>sourceSize</key>
                <string>{521,388}</string>
            </dict>
            <key>plane_text_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{795,1744},{592,126}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{592,126}}</string>
                <key>sourceSize</key>
                <string>{592,126}</string>
            </dict>
            <key>plane_title.png</key>
            <dict>
                <key>frame</key>
                <string>{{447,1945},{443,94}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{443,94}}</string>
                <key>sourceSize</key>
                <string>{443,94}</string>
            </dict>
            <key>plane_unable.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,964},{521,388}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{521,388}}</string>
                <key>sourceSize</key>
                <string>{521,388}</string>
            </dict>
            <key>select_back.png</key>
            <dict>
                <key>frame</key>
                <string>{{1327,1872},{193,88}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{193,88}}</string>
                <key>sourceSize</key>
                <string>{193,88}</string>
            </dict>
            <key>select_back_pressed.png</key>
            <dict>
                <key>frame</key>
                <string>{{1132,1872},{193,88}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{193,88}}</string>
                <key>sourceSize</key>
                <string>{193,88}</string>
            </dict>
            <key>select_bg.jpg</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{640,960}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{640,960}}</string>
                <key>sourceSize</key>
                <string>{640,960}</string>
            </dict>
            <key>select_bottom.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1744},{640,199}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{640,199}}</string>
                <key>sourceSize</key>
                <string>{640,199}</string>
            </dict>
            <key>select_item.png</key>
            <dict>
                <key>frame</key>
                <string>{{1012,1872},{118,103}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{118,103}}</string>
                <key>sourceSize</key>
                <string>{118,103}</string>
            </dict>
            <key>select_item_unable.png</key>
            <dict>
                <key>frame</key>
                <string>{{892,1872},{118,103}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{118,103}}</string>
                <key>sourceSize</key>
                <string>{118,103}</string>
            </dict>
            <key>select_kuang.png</key>
            <dict>
                <key>frame</key>
                <string>{{644,1744},{149,135}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{149,135}}</string>
                <key>sourceSize</key>
                <string>{149,135}</string>
            </dict>
            <key>select_left.png</key>
            <dict>
                <key>frame</key>
                <string>{{675,1881},{29,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{29,34}}</string>
                <key>sourceSize</key>
                <string>{29,34}</string>
            </dict>
            <key>select_next.png</key>
            <dict>
                <key>frame</key>
                <string>{{1241,2},{191,86}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{191,86}}</string>
                <key>sourceSize</key>
                <string>{191,86}</string>
            </dict>
            <key>select_next_pressed.png</key>
            <dict>
                <key>frame</key>
                <string>{{1048,2},{191,86}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{191,86}}</string>
                <key>sourceSize</key>
                <string>{191,86}</string>
            </dict>
            <key>select_right.png</key>
            <dict>
                <key>frame</key>
                <string>{{644,1881},{29,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{29,34}}</string>
                <key>sourceSize</key>
                <string>{29,34}</string>
            </dict>
            <key>select_start.png</key>
            <dict>
                <key>frame</key>
                <string>{{1048,90},{190,86}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{190,86}}</string>
                <key>sourceSize</key>
                <string>{190,86}</string>
            </dict>
            <key>select_start_pressed.png</key>
            <dict>
                <key>frame</key>
                <string>{{836,2},{190,86}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{190,86}}</string>
                <key>sourceSize</key>
                <string>{190,86}</string>
            </dict>
            <key>select_start_unable.png</key>
            <dict>
                <key>frame</key>
                <string>{{644,2},{190,86}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{190,86}}</string>
                <key>sourceSize</key>
                <string>{190,86}</string>
            </dict>
            <key>select_title.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1945},{443,94}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{443,94}}</string>
                <key>sourceSize</key>
                <string>{443,94}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>select_ui.pvr.ccz</string>
            <key>size</key>
            <string>{2048,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:e310ffa87fcde6490b82b74994a7eaba$</string>
            <key>textureFileName</key>
            <string>select_ui.pvr.ccz</string>
        </dict>
    </dict>
</plist>
